.container {
	text-align: center;
}

.inner-container {
	margin-top: 15px;
}

.field-row {
	line-height: 0;
	font-size: 0;
}

.field-row > * {
    vertical-align:middle;
}

.mine {
	background-color: #FF0000;
}

.hidden {
	background-color: #ccc;
}

.blocked {
	background-color: #aaa;
	color: #aaa;
}

.cell {
	height: 30px;
	width: 30px;
	border: 1px solid #bbb;
	display: inline-block;
	font-size: 18px;
	line-height: 18px;
	box-sizing: border-box;
	text-align: center;
	padding: 5px;
	font-family: sans-serif;
}

.overlay {
	position: absolute;
	height: 600px;
	width: 80%;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
}

.overlay.win {
	background-color: rgba(100, 237, 100, 0.7);
}

.overlay.loss {
	background-color: rgba(237, 100, 100, 0.7);
}

.overlay h1 {
	margin-top: 80px;
}

.overlay button {
	height: 30px;
	width: 100px;
}

