.container {
	text-align: center;
}

.inner-container {
	margin-top: 15px;
}

.field-row {
	line-height: 0;
	font-size: 0;
}

.field-row > * {
    vertical-align:middle;
}

.mine {
	background-color: #FF0000;
}

.cell {
	height: 30px;
	width: 30px;
	display: inline-block;
  	border: 3px solid #ddd;
	font-size: 18px;
	line-height: 18px;
	box-sizing: border-box;
	text-align: center;
	padding: 5px;
	font-family: sans-serif;
	background-image: url('minesweeper-sprite.png');
}

.bg1 {	
	background-position: 0px 0px;
}
.bg2 {
	background-position: -24px 0px;
}
.bg3 {
	background-position: -48px 0px;
}
.bg4 {
	background-position: -72px 0px;
}
.bg5 {
	background-position: -96px 0px;
}
.bg6 {
	background-position: -120px 0px;
}
.bg7 {
	background-position: -144px 0px;
}
.bg8 {
	background-position: 0px 24px;
}
.blank {
	background-position: -48px 24px;
}

.hidden {
	background-position: -72px 24px;
}

.marked {
	background-position: -24px 24px;
}

.overlay {
	position: absolute;
	height: 600px;
	width: 80%;
	top: 0;
	left: 50%;
	background-color: blue;
	transform: translate(-50%, 0);
}

.overlay h1 {
	margin-top: 80px;
}

.overlay button {
	height: 30px;
	width: 100px;
}

